@CHARSET "UTF-8";

* {
	margin: 0 auto;
	padding: 0 auto;
}

a {
	text-decoration: none;
}

#agreewrap {
	width: 70%;
	margin-left: 14%;
	margin-right: 14%;
}

#agreebtn {
	width: 10%;
}