@CHARSET "UTF-8";

* {
	margin: 0 auto;
	padding: 0 auto;
}

a {
	text-decoration: none;
}

#buycomwrap {
	float: left;
	margin-left: 1.5%;
	width: 75%;
}

#buycomcheck {
	width: 100%;
}

#buycomcheck table {
	width: 90%;
	text-align: center;
}

#buycomsum {
	width: 100%;
}

#buycomsum table {
	width: 90%;
	text-align: center;
}

#buycomsho {
	width: 20%;
	text-align: center;
	border: 1px solid black;
}