@CHARSET "UTF-8";

* {
	margin: 0 auto;
	padding: 0 auto;
}

#cartwrap {
	float: left;
	margin-left: 1.5%;
	width: 75%;
}

#cartcheck {
	width: 100%;
}

#cartcheck table {
	width: 90%;
	text-align: center;
}

#cartsum {
	width: 100%;
}

#cartsum table {
	width: 90%;
	text-align: center
}



#cartbtn {
	width: 20%;
	clear: both;
}