@CHARSET "UTF-8";

* {
	margin: 0 auto;
	padding: 0 auto;
}

ul {
	list-style: none;
}

#wrap {
	width: 100%;
	height: 1000px;
}

#header {
	width: 100%;
	height: 200px;
}

#loginjoin ul {
	float: right;
	margin-right: 16.5%;
}

#loginjoin ul li {
	float: left;
}

#headerlogo {
	width: 20%;
	height: 30px;
	float: left;
	margin-left: 5%;
	margin-top: 2%;
}

#logoimg1 {
	width: auto;
	height: 50px;
}

#search {
	width: 52%;
	height: 40px;
	border: 1px solid #a9d6d3;
	float: left;
}

#searchbox {
	float: left;
	width: 15%;
	height: 40px;
	margin-left: 2%;
	margin-top: 1%;
}

#searchbox select {
	height: 30px;
	border: none;
}

#sch_keyword {
	float: left;
	width: 75%;
	height: 30px;
	font-size: 16px;
	font-weight: bold;
	border: 0;
	margin-top: 0.8%;
}

#mainicon ul li {
	float: left;
}

#mainmenu {
	width: 100%;
	height: 40px;
	float: left;
	margin-top: 3%;
}

#mainmenu>ul {
	width: 100%;
	height: 2%;
}

#mainmenu li {
	float: left;
	position: relative;
}

#mainmenu a {
	display: block;
	text-align: center;
	text-decoration: none;
	color: #000000;
	padding: 3%;
}

#mainmenu li ul {
	position: absolute;
	display: none;
	font-size: 0.8em;
}

#mainmenu li:hover ul {
	display: block;
}

#mainmenu li ul li {
	background-color: #ffffff;
	width: 100%;
	border-bottom: 1px solid #9ee39b;
	border-left: 1px solid #9ee39b;
	border-right: 1px solid #9ee39b;
	border-bottom: 1px solid #9ee39b;
	width: 100%;
	border-bottom: 1px solid #9ee39b;
	border-left: 1px solid #9ee39b;
	border-right: 1px solid #9ee39b;
}

#mainmenu li ul li:hover {
	background-color: #e3fc03;
}

#contents {
	width: 100%;
}

#leftside {
	float: left;
	width: 11%;
	background-color: blue;
}

#center {
	float: left;
	width: 75%;
	margin-left: 1.5%;
}

#rightside {
	float: right;
	width: 11%;
	background-color: green;
}

#footer {
	width: 100%;
	height: 260px;
	clear: both;
}

#footermenu {
	width: 100%;
	height: 40px;
	margin-top: 3%;
}

#footercompany {
	width: 70%;
	float: left;
}

#footercompany li {
	float: left;
}

#footercompany a {
	display: block;
	text-align: center;
	text-decoration: none;
	padding-right: 3%;
}

#footericon {
	width: 20%;
	float: left;
}

#footericon li {
	display: block;
	float: left;
}

#footerinfo {
	width: 100%;
	background-color: blue;
}

#footerlogobox {
	width: 20%;
	height: 50px;
	float: left;
}

#logoimg2 {
	width: auto;
	height: 40px;
	margin-left: 20%;
	margin-top: 10%;
}

#footercontents {
	width: 80%;
	float: left;
	font-size: 0.8em;
}

#footercontents1 {
	float: left;
	width: 45%;
}

#footercontents2 {
	float: left;
	width: 45%;
}

#su {
	width: 100%;
	height: 400px;
	clear: both;
}

#logoimg3 {
	width: 100%;
}