@CHARSET "UTF-8";

* {
	margin: 0 auto;
	padding: 0 auto;
}

#mylistwrap {
	float: left;
	margin-left: 1.5%;
	width: 75%;
}

#mylistcheck {
	width: 100%;
}

#mylistcheck table {
	width: 90%;
	text-align: center;
}

#mylistbtn {
	width: 20%;
}